header{
    background-color: var(--main-color);
}
header *{
    color: white;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 42.96px;
}
header .user{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .user h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 24.2px;
    margin: 10px;
    margin-right: 25px;
}
header .user .user-img{
    width: 44px;
    overflow: hidden;
    height: 44px;
    border-radius: 44px;
}